:root{
  --branco:white;
  --vermelho:red;
  --preto:black;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  cursor: pointer;
}
section{
  overflow: hidden;

}

.container.main{
  height: 900px;
}
.container{
  width: 100%;
  background-color: var(--preto);
  margin-bottom: 6px;
}

.container .main{
  
  background:linear-gradient(to top, rgba(0,0,0,.10) 0,rgba(0,0,0,0.5)60%,rgba(0,0,0,.8)100%),url("../img/bg-main.jpg") no-repeat;
  background-position: top fixed;
  background-size: auto;
  height: 100%;
  
}
.main-box{
  display: flex;
  flex-direction: column;
  
}
.title{
  display: flex;
  justify-content: space-between;
  color: var(--vermelho);
  margin: 20px;
  
}
.button{
  background-color: var(--vermelho);
  color: var(--branco);
  border-radius: 4px;
  width: 80px;
  border: none;
  height: 30px;
  font-size: 14px;
}

.container-box{
  color: var(--branco);
  display: flex;  
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-top: 10rem;    
  text-align: center;
  width: 58%;  
  text-shadow:  0 0 5px #0000006e;
}
.box-title{
  font-weight: bold;
  font-size: 55px;
}
.box-sub-title{
  font-weight: 200;
  font-size: 30px;
}

.box-end-title{
  font-size: 25px;
  font-weight: 100;
  
}
.input{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input input{
  height: 50px;
  width: 400px;
}
.input button{
  background-color: var(--vermelho);
  color: var(--branco);
  width: 200px;
  border: none;
  font-weight: 200;
  font-size: 30px; 
}

/* containner sec */
.container.sec{
  color: var(--branco);
  display: flex;
  align-items: center;  
  justify-content: center;
}
.box-info{
  padding: 30px;
}
.box-info .box-title{
  margin-bottom: 20px;
}
.box-info-media img{
  width: 40rem;
  padding: 30px;
  
}
.box-info-media{
  height: 455px;

}
.box-media-video{
  position:relative;
  top: 6rem;
  left: 14%; 
  z-index: 1;
}
.box-media-img{
  position: relative;
  z-index: 2;
  bottom: 17rem;
}
.box-media-video video{
  width: 69%;
}

/* container sec mobile */
.box-media-item{
  margin: 30px;
}
.mob-img{
  position: relative;
  z-index: 1;
}
.mob-text{
  position: relative;
  z-index: 2;
}
.mob-img img{
  width: 30rem;
}
.mob-text{
  border: 2px solid gray;
  border-radius: 10px;
  height: 100px;
  width: 340px;
  left: 15%;
  bottom: 8rem;
  background-color: black;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mob-thumb img{
  margin-bottom: 8px;
}
.mob-mini-text h4{
  color: var(--branco);
  font-size: 16px;
}
.mob-mini-text p{
  color: blue;
  font-size: 14px;
}
.box-info.mobile{
  width:40rem;
}

/* containner devices */
.box-media-video.device video{
  width: 59%;
}
.box-media-video.device{
  left: 8rem;
  top: 1rem;
}
.box-info-media.device{
  margin-top: 7rem;
}

/* ACOORDION FAQ */
.faq{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq-accordion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.faq-title{
  color: var(--branco);
  height: 100px;
  text-align: center;
  font-size: 35px;
  padding: 20px;
}
.accordion{
  background-color: #303030;
  color: var(--branco);
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
  padding: 18px;
  height: 80px;
  width: 65%;
  text-align: left;
  margin-bottom:4px ;
  font-size: 25px;
}
.active .accordion:hover{
  background-color: #303030;
}
.panel {
  padding: 0 18px;
  background-color: #303030;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 65%;
  font-size: 25px;
  color: var(--branco);
  margin: 3px 0;
}
.panel p{
  margin: 5px;
}
.accordion:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  font-size: 30px;
  float: right;
  margin-left: 5px;
  color: white;
  line-height: 100%;
  
}

.active:after {
  content: "-"; /* Unicode character for "minus" sign (-) */
  font-size: 30px;
}

/* footer container */
footer{
  color: gray;
}
.faq-title.foot{
  margin-left: 18rem;
  text-align: left;
  font-size: 18px;
  padding-bottom: 10px;
  color: gray;
  
}
.foot-box{ 
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 14px;
}
.foot-box-item{
  margin-right: 20px;
}
.foot-box ul{
  margin: 0;
  padding: 0;
}
.foot-box ul li{
  list-style: none;
  margin-bottom: 20px;
}

.container.foot{
  margin-bottom: 0;
}